<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Device</ion-card-title>
      <ion-card-subtitle>ID: {{ds.device.uuid}}</ion-card-subtitle>
      <ion-card-subtitle>Modello: {{ds.device.model}}</ion-card-subtitle>
      <ion-card-subtitle>Seriale: {{ds.device.serial}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Network</ion-card-title>
      <ion-card-subtitle>Stato:
        <ion-badge color="success" [hidden]="!ds.online">ONLINE</ion-badge>
        <ion-badge color="danger" [hidden]="ds.online">OFFLINE</ion-badge>
      </ion-card-subtitle>
      <ion-card-subtitle>Tipo: {{ds.connectionType}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Barcode</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="secondary" (click)="scanBarcode(false)">
            <ion-icon slot="end" name="barcode"></ion-icon>
            Scansione Singola
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="success" (click)="scanBarcode(true)">
            <ion-icon slot="end" name="barcode"></ion-icon>
            Scansione Continua
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" [hidden]="!ds.speech">
          <ion-button color="tertiary" (click)="scanSpeech()">
            <ion-icon slot="end" name="mic"></ion-icon>
            Scansione Vocale
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Ultima lettura: {{ultimaLettura}}</ion-card-subtitle>
      <ion-card-subtitle>Totale letture: {{totaleLetture}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
